# MANITEC GridOne Frontend - desenvolvimento/local
NEXT_PUBLIC_API_URL="http://localhost:3000"

# E2E local
E2E_API_URL="http://127.0.0.1:3000"
E2E_BASE_URL="http://127.0.0.1:3001"
E2E_DEMO_PASSWORD="Demo@123456"
E2E_TOTP_SECRET="JBSWY3DPEHPK3PXP"
E2E_RUNNER_TIMEOUT_MS="2700000"
E2E_PLAYWRIGHT_GLOBAL_TIMEOUT_MS="2670000"
E2E_SERVER_TIMEOUT_MS="180000"
E2E_MAX_FAILURES="1"
E2E_THROTTLE_LIMIT="10000"
E2E_VERBOSE_SERVER="0"
